:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hive-yellow: #fdc333;
  --yellow-tone-1: #ecb944;
  --yellow-tone-5: #a69370;
  --yellow-tint-5: #ffdc91;
  --income-table-backing: #6d6d6d;
  --income-subtable-backing: #3f3f3f;
  --grey: #575757;
  --dark-grey: #272727;
  --toggle-button-background: #363636;

  --tax-colour: #71972c;
  --super-colour: #33a2c6;
  --tax-colour: #ea9f21;
}

/* 
  Palette
  Golds:      #f1bd54 #f4ca76 #f6d798 #f9e5bb #fcf2dd
  Mustards:   #bc9642 #caab68 #d7c08e #e4d5b3 #f2ead9
  Blues:      #7c9fa4 #96b2b7 #b0c5c9 #cad8db #e5eced
  Dark Blues: #486165 #6c8184 #91a0a3 #b6c0c2 #dadfe0
  Blacks:     #231f20 #57585a #808285 #a8a9ad #d1d2d4
*/

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}